<%= form_tag(shows_path, :method => "get", class: "d-flex") do %>  
    <%= text_field_tag :search, params[:search], placeholder: "search show, channel", class: "form-control me-2" %>
    <button class="btn btn-outline-success" type="submit">Search</button>
  <% end %>